*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body{
  font-family: Open Sans;
}

header{
  padding-top: 20px;
  background: #fff8f3;
  background-image: url(../img/header_bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 45%;
  position: relative;
}

.hero .hero-1{
  position: absolute;
  width: 70px;
  margin-left: 30px;
}

.hero h2{
  color: #181818;
  font-family: open sans;
  font-size: 30px;
  font-weight: 700;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 200px;
}

nav ul li{
  display: inline-block;
  margin-left: 30px;
}

nav a{
  text-decoration: none;
  color: #474747;
  font-size: 14px;
  font-weight: 500;
}

nav button{
  color: white;
  background: #FD6E0A;
  border: none;
  border-radius: 5px;
  padding: 14px 25px;
  font-weight: 600;
}

.banner h3{
  font-size: 35px;
  font-weight: 600;
  color: #474747;
}

.banner{
  padding: 30px 40px 0px 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner h2{
  font-size: 70px;
  font-weight: 700;
  color: #181818;
}

.banner p{
  font-size: 16px;
  font-weight: 400;
  color: #757575;
  line-height: 25px;
  margin: 15px 0;
}

.banner button:first-child{
  color: white;
  background: #FD6E0A;
  border: none;
  border-radius: 5px;
  padding: 14px;
  font-weight: 600;
  margin-right: 15px;
}
.banner button:last-child{
  color: #FD6E0A;
  background: transparent;
  border: 1px solid #FD6E0A;
  border-radius: 5px;
  padding: 14px;
  font-weight: 600;
}

.banner-img{
  width: 38%;
}

.ban-img{
  position: absolute;
  left: 40px;
  top: 20px;
  height: 90%;
}

/* About Section */

main{
  padding: 100px 0;
  max-width: 1050px;
  margin: 0 auto;

}

.about{
  padding: 80px 120px;
  text-align: center;
  background: #FFF8F3;
  border-radius: 10px;
}

.about h2,
.service h2,
.resume h2{
  color: #181818;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
}

.about p,
.service p{
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: #757575;
  margin: 20px 0;
}

.info-box {
  display: flex;
  justify-content: space-between;
}

.info-box h3{
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #474747;
}

.info-box h3 span{
  font-weight: 400;
  color: #757575;
}

.service{
  text-align: center;
  margin: 100px 0;
}

.skill-container{
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-top: 50px;
}

.service-box{
  padding: 30px;
  text-align: left;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
}

.service-box img{
  width: 40px;
  height: 40px;
}

.service-box h4{
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  margin: 20px 0;
}

.service-box p{
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}